<html>
    <head>
        <title>Blog Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./assets/images/logo.png" alt="cikhidayat" width="50">
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="blog.html">Add Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="contact.html">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-opacity-10-hover" href="/testimonial">Testimonial</a>
                  </li>
                </ul>
                <div class="d-flex m-0" role="search">
                    <a class="me-4 fs-5 text-secondary " href="https://instagram.com/rhmthidayat07"><i class="fa-brands fa-instagram"></i></a>
                    <a class="me-4 fs-5 text-secondary " href="https://www.facebook.com/rahmathidayat674"><i class="fa-brands fa-facebook"></i></a>
                    <a class="me-4 fs-5 text-secondary " href="https://www.linkedin.com/in/rhidayat1407/"><i class="fa-brands fa-linkedin-in"></i></i></a>
                    <a class="me-4 fs-5 text-secondary " href="https://twitter.com/rhmthidayat07"><i class="fa-brands fa-twitter"></i></a>
                </div>
              </div>
            </div>
        </nav>
        <div class="container my-5" style="max-width: 800px;">
            <h3 class="my-4 text-center">{{data.title}} | {{data.id}}</h3>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between border rounded my-3 p-2">
                    <div class="d-flex flex-md-row align-items-center">
                        <p class="m-0 mx-2"><i class="fa-regular fa-calendar"></i><span class="text-details"> 10 February 2023 - 15 March 2023</span></p>
                        <p class="m-0 mx-2"><i class="fa-regular fa-clock"></i><span class="text-details"> 1 month</span></p>
                    </div>
                    <div class="d-flex flex-md-row justify-content-around align-items-center">
                        <p class="fs-5 m-0 mx-2"><i class="fa-brands fa-js"></i></p>
                        <p class="fs-5 m-0 mx-2"><i class="fa-brands fa-php"></i></p>
                        <p class="fs-5 m-0 mx-2"><i class="fa-brands fa-css3-alt"></i></p>
                        <p class="fs-5 m-0 mx-2"><i class="fa-brands fa-html5"></i></p>
                    </div>
                </div>
                <div class="my-3">
                    <img class="img-fluid rounded" src="/images/project1.jpg" alt="">
                </div>
            </div>
            <div style="text-align: justify;">
                <p>
                    {{data.content}}
                </p>
            </div>
        </div>
        <div>
            <footer class="border bg-dark m-0 p-3">
              <p class="text-light m-0 text-center">Copyright 2023</p>
              <p class="text-light m-0 text-center">Created by Rahmat Hidayat</p>
            </footer>
        </div>
        <script src="/js/button.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
                